<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<context:component-scan base-package="com.app.entites"/>
	<context:component-scan base-package="com.app.controllers"/>
	<context:annotation-config />
	<context:property-placeholder location="/WEB-INF/persistence-sql.properties"/>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
		<property name="username" value="system"></property>
		<property name="password" value="masarp"></property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="annotatedClasses">
			<list>
				<value>com.app.entites.LandlordDetails</value>
				<value>com.app.entites.RenterDetails</value>
				<value>com.app.entites.LandlordAddProperty</value>
			</list>

		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="landlordRegDaoImpl" class="com.app.dao.LandlordRegDaoImpl"/>
	<bean id="renterRegDaoImpl" class="com.app.dao.RenterRegDaoImpl"/>
	<bean id="landlordRegServicesImpl" class="com.app.services.LandlordRegServicesImpl"/>
	<bean id="rrs" class="com.app.services.RenterRegServicesImpl"/>
</beans>